  <div id="header"><header>EZ-VM</header></div>
  <div id="info">You need to setup your configuration.  This setup will create the file '~/.vm_me.config'</div>

  <div class="vcs">
  <form action="/configured" method="post">
    <input type="email" id="email" name="email_address" required placeholder="email address" />
    <br />
      <input id="versionmgmt" type="text" name="versionmgmt" required placeholder="Git server" />
      <br />
        <input id="vcspasswd" type="password" name="vcspasswd" required placeholder="password"/>
        <br />
	<input id="save" type="submit" value="save" />
	<input id="clear" type="reset"  value="clear" />
  </form>
  </div>
<div id="footer"><footer></footer></div>
