<div>
  <h1>vm-me</h1>
  <h3>You need to setup your configuration.  This setup will create the file '~/.vm_me.config'</h3>

  <form action="/configured" method="post">
    <label for="email_address">Email address:</label>
    <input type="email" name="email_address" value='' required placeholder="email address" />
    <br />
      <label for="versionmgmt">Version Control Management server:</label>
      <input type="text" name="versionmgmt" required placeholder="Git server" />
      <br />
        <label for="vcspasswd">Version Control Management password:</label>
        <input type="password" name="vcspasswd" required />
        <br />
        <br />
	<input type="submit" value="save" />
	<input type="reset"  value="cancel" />
  </form>
</div>

  
