<div id="header"><header>VM Builder</header></div>
<div class="loginpage">
<form action="/build" id="login_page" method="post">
<input type='text'id="loginun" name="login_username" placeholder='Username' required>
<br />
<input type='password' id="loginpw" name="login_password" placeholder='Password' required>
<br />
<input form="login_page" id="submit" type='submit' value='login' />
<input form="login_page" id="reset" type='reset' value='reset' />
</form>
</div>
<div id="footer"><footer></footer></div>
