#header {
	height: 70px;
	background: #29A3CC;
	font-size: 50px;
	color: white;
	text-align: center;
	font-stretch: expanded;
}
#footer {
	height: 80px;
	background: #29A3CC;
}

/*#input {
  display: inline;
  width: 200px;
}*/

#submit {
	height: 40;
	width: 70;
	color: white;
	background: #29A3CC;
}
#reset {
	height: 40;
	width: 70;
	color: white;
	background: #29A3CC;
}
.loginpage {
	text-align: center;
	border-width: 3px;
	margin-top: 250px;
	margin-bottom: 250px;
	margin-right: 350px;
	margin-left: 350px;
}
